<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/blogpic.jpg" alt="" />
  </div>
  <div class="headings">
    <h2>Blog app</h2>
    <h3>By Gospel</h3>
    <a href="/blogs" class="btn">View blogs</a>
  </div>
</header>

<script></script>

<%- include('partials/footer'); -%>
